opencv-python==3.2.0.6
h5py==2.6.0
matplotlib==2.0.0
numpy==1.22.2
scipy==1.10.0rc1
tqdm==4.11.2
keras==2.0.2
scikit-learn==1.5.0
pillow==4.0.0
ipykernel==4.6.1
tensorflow-gpu==1.0.0
ipython>=7.16.3 # not directly required, pinned by Snyk to avoid a vulnerability
jupyter-core>=4.11.2 # not directly required, pinned by Snyk to avoid a vulnerability
prompt-toolkit>=3.0.13 # not directly required, pinned by Snyk to avoid a vulnerability
pygments>=2.15.0 # not directly required, pinned by Snyk to avoid a vulnerability